/* base styles */

body {
    color: #abbdd6;
    font-size: 16px;
    line-height: 1.6;
    font-family: "Bahnschrift", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #abbdd6;
    font-family: "Bahnschrift", sans-serif;
    font-weight: bold;
}

/* background color for text selection */

-moz-selection {
    background-color: #171818;
    text-shadow: none;
}

selection {
    background-color: #171818;
    text-shadow: none;
}



.container-1 {
    background-color: #2d2e2e;
    padding: 24px;
    margin: 20px;
    border: 2px solid #262929;
    border-radius: 12px;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    line-height: 1.6;
}

.container-h1 {
    background-color: #3b3b3b;
    padding: 0px 24px;
    margin: 20px;
    border: 2px solid #262929;
    border-radius: 12px;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.button {
    background-color: #242d3a;
    border: none;
    color: rgb(175, 172, 172);
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Bahnschrift", sans-serif;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3b3b3b;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(0);
  box-shadow: none;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Remove gap between elements */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* Remove default fieldset styles */
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

/* allow only vertical resizing of textareas */
textarea {
    resize: vertical;
}


/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}